<div class="flex h-[81.5vh] justify-center justify-items-center">


<div>
    <div class="avatar">
        <div class="w-40 rounded-full">
            <img src="./../../../../../assets/113110 (1).jpg" alt="" srcset="">
        </div>
      </div>
    
    <p>celloscope</p>
    <p>Administrator name : <span>{{administratorName}}</span></p>
    <p>Email : <span>{{email}}</span></p>
    <p>Phone Number : <span>{{phoneNumber}}</span></p>
    <p>Address : <span>{{address}}</span></p>
</div>


</div>


