<p>{{allRegistrationRequests.length}}</p>



<div class="overflow-x-auto h-[60vh] z-0">
    <table class="table ">
      <!-- head -->
      <thead>
        <tr>
          <th>Index</th>
          <th>Name</th>
          <th>Designation</th>
          <th>Mail</th>
          <th>Phone Number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody >
        <!-- row 2 -->
        <tr *ngFor="let allRegistrationRequest of allRegistrationRequests; let i = index" class="hover ">
          <th>{{i+1}}</th>
          <td>{{allRegistrationRequest.userId}}</td>
          <td>{{allRegistrationRequest.id}}</td>
          <td>{{allRegistrationRequest.title}}</td>
          <td>{{allRegistrationRequest.body}}</td>
          <td><button class="btn btn-sm btn-outline btn-success">Approve</button><button class="btn btn-sm btn-outline btn-error">Reject</button></td>
        </tr>
      </tbody>
    </table>
  </div>