


<div class="h-[81.5vh] grid content-center">



    <p class="flex justify-center m-6">Set Employee Profile</p>

<form  #employeeInfo="ngForm" (ngSubmit)="onSubmit(employeeInfo)">


    <div class="flex justify-center  justify-items-center">




    
        <div class="grid grid-cols-2 gap-6" >
        
            <div class="form-control w-full max-w-xs">
                <label class="label">
                  <span class="label-text">Kimi no namawa?</span>
                </label>
                <input name="name" ngModel type="text" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs" />
              </div>
            
            <div class="form-control w-full max-w-xs">
                <label class="label">
                  <span class="label-text">Enter you phone number?</span>
                </label>
                <input name="phoneNumber" ngModel type="text" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs" />
              </div>
            
            <div class="form-control w-full max-w-xs">
                <label class="label">
                  <span class="label-text">Designation</span>
                </label>
                <input name="designation" ngModel type="text" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs" />
              </div>
            
              <div class="form-control w-full max-w-xs">
                <label class="label">
                  <span class="label-text">Address</span>
                </label>
                <input name="address" ngModel type="text" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs" />
              </div>
            
              <div class="form-control w-full max-w-xs">
                <label class="label">
                  <span class="label-text">Office ID</span>
                </label>
                <input name="officeID" ngModel type="text" placeholder="Type here" class="input input-bordered input-primary w-full max-w-xs" />
              </div>
        
        </div>
        </div>
        
        
        
        <div class="flex justify-center m-4">
            <button type="submit" class="btn btn-secondary " (click)="goToDashboard()">Set employee profile</button>
        </div>


</form>




</div>



<!-- <form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" name="name" ngModel required />
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" name="email" ngModel required />
    <button type="submit">Submit</button>
  </form> -->