<div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">Celloscope</a>
    </div>


    <div class="flex-none">
        <a routerLink="signup" class="btn btn-outline btn-primary">Sign up</a>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="./../../../../assets//113110 (1).jpg" />
          </div>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">

          <li><a routerLink="/">Logout</a></li>
        </ul>
      </div>
    </div>


  </div>
