
<div class="hero min-h-screen bg-base-200">
    <div class="hero-content  flex-col lg:flex-row">
      <div class="text-center w-[50%] lg:text-left">
        <h1 class="text-5xl font-bold">Sign up now!</h1>
        <p class="py-6">Celloscope started with a simple goal: provide financial institutes with a platform toextend their services to far-reaching people,something they cannot do with a brick and mortar model. With that goal, CELLOSCOPE has developed a robust platform aggregating the individual strength of a few good friends.</p>
      </div>
      <div class="card flex-shrink-0 w-[50%]  max-w-sm shadow-2xl bg-base-100">
       
        <div class="card-body">
            <div class="flex flex-col w-full border-opacity-50">


            <p class="text-center text-2xl">Sign up</p>

          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="text" placeholder="email" class="input input-bordered" />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="text" placeholder="password" class="input input-bordered" />
            <label class="label">
              <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
            </label>
          </div>

          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">Remember me</span> 
              <input type="checkbox" checked="checked" class="checkbox checkbox-primary" />
            </label>
          </div>

          <div class="form-control mt-6">
            <button class="btn btn-primary">Sign up</button>
          </div>

          
          <div class="divider">OR</div>
          <button class="btn btn-outline btn-primary">Sign in by google</button>
      </div>

        </div>






      </div>
    </div>
  </div>
